body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.menu {
    display: flex;
    height: 50px;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.item1 {
    background-color: #c5d5cb;
}
.item2 {
    background-color: #40a765;
}
.item3 {
    background-color: #dfbc20;
}

@media (max-width: 800px) {
    .menu {
        flex-direction: column;
        height: auto;
    }
    .item {
        height: 50px;
    }
}